.cell_detail {
    font-weight: bold;
    text-align: right;
}

.verticaltext {
    transform: rotate(-90deg);
    transform-origin: right, top;
    -ms-transform: rotate(-90deg);
    -ms-transform-origin:right, top;
    -webkit-transform: rotate(-90deg);
    -webkit-transform-origin:right, top;
    position: absolute;
}

.card_bkg {
    position: relative;
    width: 100px;
}

.card_text {
    position: absolute;
    top: -5px;
    left: 77px;
    font-size: 90%;
}

.card_action {
    position: absolute;
    top: -5px;
    left: 77px;
    font-size: 90%;
}

.card_icon {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

#table_map tr, #table_map td {
  padding: 0 !important;
  margin: 0 !important;
}

.custom-tooltip {
  --bs-tooltip-bg: var(--bd-violet-bg);
  --bs-tooltip-color: var(--bs-white);
}
