{% load static %}
{% if s == state.ADDED %}
<img class="card_bkg" src="{% static 'django_pasttrec_manager/gfx/card_insert.png' %}"></img>
<a class="card_icon text-dark" href="{% url 'django_pasttrec_manager:rev' r.pk %}">
<i class="fas fa-plug"></i>
</a><span class="card_text" data-toggle="tooltip" title="{{ c.revision }}">{{ c.card.name }}</span>
{% elif s == state.CHANGED %}
<img class="card_bkg" src="{% static 'django_pasttrec_manager/gfx/card_exchange.png' %}"></img>
<a class="card_icon text-dark" href="{% url 'django_pasttrec_manager:card' c.card.pk %}#{{ c.pk }}">
<i class="fas fa-retweet"></i>
</a><span class="card_text" data-toggle="tooltip" title="{{ c.revision }}">{{ c.card.name }}</span>
{% elif s == state.UPDATED %}
<img class="card_bkg" src="{% static 'django_pasttrec_manager/gfx/card_reload.png' %}"></img>
<a class="card_icon text-dark" href="{% url 'django_pasttrec_manager:card' c.card.pk %}#{{ c.pk }}">
<i class="fas fa-pen-square"></i>
</a><span class="card_text" data-toggle="tooltip" title="{{ c.revision }}">{{ c.card.name }}</span>
{% elif s == state.REMOVED %}
<img class="card_bkg" src="{% static 'django_pasttrec_manager/gfx/card_remove.png' %}"></img>
<a class="card_icon text-dark" href="#">
<i class="fas fa-minus-circle"></i>
</a>
{% elif s == state.KEPT %}
<img class="card_bkg" src="{% static 'django_pasttrec_manager/gfx/card_keep.png' %}"></img>
<a class="card_icon text-dark">
<i class="fas"></i>
</a><span class="card_action">
<a class="text-success" href="{% url 'django_pasttrec_manager:add_settings' c.card.pk r.pk %}">
<i class="fas fa-plus"></i></a>
</span>
{% else %}
<img class="card_bkg" src="{% static 'django_pasttrec_manager/gfx/card_empty.png' %}"></img>
<a class="card_icon text-dark" href="">
<i class="fas"></i>
</a>
{% endif %}
