{% load static %}
{% load django_bootstrap5 %}

<!DOCTYPE html>
<html lang="en-us">
  <head>
    <title>{% block title %}{% endblock %}</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>

    {% bootstrap_css %}
    {% bootstrap_javascript %}

    <link rel="stylesheet" href="{% static 'django_pasttrec_manager/css/styles.css' %}">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

    {% block head_extras %}{% endblock %}
  </head>
  <body>

<!--  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">PASTTREC setup</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'django_pasttrec_manager:index' %}">Home</a>
      </li>
    </ul>
  </div>
  </nav>-->

  {% block top_content %}{% endblock %}
  {% block content %}{% endblock %}
  </body>

  <footer class="bg-body-tertiary text-center">
  <!-- Grid container -->
  <div class="container p-4">PASTTREC ASIC database manager for PANDA experiment</div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2024 Copyright:
    <a href='ma&#105;lt&#111;&#58;&#114;afal&#46;l&#97;lik&#37;4&#48;u%6&#65;&#46;e%6&#52;u&#46;p%&#54;C'>Rafał Lalik</a>

  </div>
  <!-- Copyright -->
  </footer>

  <script>
  const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
  const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
  </script>
</html>
