{% extends 'django_pasttrec_manager/base.html' %}
{% load i18n filters mathfilters %}

{% block head_extra %}
{{ wizard.form.media }}
{% endblock %}

{% block content %}
<div class="container">

<div class="row">
<div class="col">

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item" aria-current="page"><a href="{% url 'passtrec_trb3setup:index' %}">Home</a></li>
    <li class="breadcrumb-item active" >{{ setup.name }}</li>
  </ol>
</nav>

<!-- WIZZARD -->

<div class="progress">
  <div class="progress-bar bg-warning" role="progressbar" style="width: {{ 100.0|div:wizard.steps.count|mul:wizard.steps.step1 }}%;" aria-valuenow="{{ wizard.steps.step1 }}" aria-valuemin="0" aria-valuemax="{{ wizard.steps.count }}"></div>
</div>

<p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }} : Upload json file</p>
<form action="{% url 'django_pasttrec_manager:import_calibrations_wizard' %}" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <table>
  {{ wizard.management_form }}

  {{ wizard.form.non_field_errors }}
  <table class="table">
    <tr><th>{{ wizard.form.file.label_tag }}</th>
    <td>{{ wizard.form.file }}{{ wizard.form.creation_on.errors }}</td></tr>
  </table>

  </table>
  {% if wizard.steps.prev %}
  <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">{% trans "first step" %}</button>
  <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">{% trans "prev step" %}</button>
  {% endif %}
  <div>
    <input class="btn btn-success" type="submit" value="{% trans 'Upload' %}" />
    <input class="btn btn-danger" type="reset" value="{% trans 'Clear' %}" />
  </div>
</form>
<!-- WIZZARD -->

</div>
</div>

</div>
{% endblock %}
