{% extends 'django_pasttrec_manager/base.html' %}

{% block content %}
<div class="container">

<div class="row">
<div class="col">

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item" aria-current="page"><a href="{% url 'passtrec_trb3setup:index' %}">Home</a></li>
    <li class="breadcrumb-item" >Configuration</li>
    <li class="breadcrumb-item active" >{{ configuration.name }}</li>
  </ol>
</nav>

</div>
</div>

<div class="card border-dark mb-3">
  <div class="card-header">Configuration details</div>
  <div class="card-body text-dark">
  {% include 'django_pasttrec_manager/widgets/asic_configuration_widget.html' with data=configuration %}
  </div>
</div>

<div class="card border-dark mb-3">
  <div class="card-header">Existing calibrations</div>
  <div class="card-body text-dark">
  {% for calibration in object_list %}
  <div class="row">
  <div class="col">
  <a class="btn btn-outline-dark btn-sm" href="{% url 'django_pasttrec_manager:card' calibration.card.id %}">{{ calibration.card.name }}</a>
  </div>
  {% include "django_pasttrec_manager/widgets/asic_baseline_inline_widget.html" with asic_no=0 data=calibration.asic0 %}
  {% include "django_pasttrec_manager/widgets/asic_baseline_inline_widget.html" with asic_no=1 data=calibration.asic1 %}
  </div>
  {% endfor %}
  </div>
</div>

</div>
{% endblock %}
