{% extends 'django_pasttrec_manager/base.html' %}

{% load bootstrap_icons %}

{% block content %}
<div class="container">

<div class="row">
<div class="col">
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Home</li>
  </ol>
</nav>
</div>
</div>

{% if messages %}
<h3>Messages</h3>
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<div class="row">
<h5>Tools</h5>
  <nav class="nav">
    <a class="nav-link" href="{% url 'django_pasttrec_manager:import_calibrations_wizard' %}">
      {% bs_icon 'file-arrow-down' %} Import calibrations from file
    </a>
  </nav>
</div>

<div class="row">
<div class="col-4">

<div class="card mb-3">
  <div class="card-header">
    Select configuration
  </div>
  <div class="card-body">
    {% if configurations %}
    <nav class="nav flex-column">
    {% for config in configurations %}
      <a class="nav-link" href="{% url 'django_pasttrec_manager:configuration' config.id %}">{{ config.name }}</a>
    {% endfor %}
    </nav>
    {% else %}
    <p>No configurations are available.</p>
    {% endif %}
  </div>
  <div class="card-footer text-muted">
  </div>
</div>

<div class="card mb-3">
  <div class="card-header">
    Select connection
  </div>
  <div class="card-body">
    {% if cards_setups %}
    <nav class="nav flex-column">
      {% for cs in cards_setups %}
      <a class="nav-link" href="{% url 'django_pasttrec_manager:cards_setup' cs.id %}">{{ cs.name }}</a>
    {% endfor %}
    </nav>
    {% else %}
    <p>No card setups are available.</p>
    {% endif %}
  </div>
  <div class="card-footer text-muted">
  <a class="link-primary" href="{% url 'django_pasttrec_manager:add_cards_setup' %}">
    {% bs_icon 'folder-plus' %} Add new cards setup
  </a>
  </div>
</div>

</div>

<div class="col-8">

<div class="card mb-3">
  <div class="card-header">
    List of cards

    <!-- Filter input -->
    <div class="float-sm-end">
      <div class="form-floating">
        <input class="form-control-sm" id="card_search_input_field" type="text" placeholder="Cards filter"
          style="padding: 0 .5rem 0 .5rem; min-height: 0;"
          type       = "text"
          onchange   = "filter_cards();"
          onkeypress = "this.onchange();"
          onpaste    = "this.onchange();"
          oninput    = "this.onchange();">
      </div>
    </div>
    <!-- END: Filter input -->

  </div>

  <div class="card-body" id="cards-container">
  {% if cards %}
  <div class="">
  {% for card in cards %}
    <span class="dummy-filter-card">
    <a class="btn btn-outline-dark btn-sm" href="{% url 'django_pasttrec_manager:card' card.id %}">{{ card.name }}</a>
    </span>
  {% endfor %}
  </div>
  {% else %}
    <p>No cards are available.</p>
  {% endif %}
  </div>
  <div class="card-footer text-muted">
  </div>
</div>

</div>
</div>

<script>
function filter_cards(){
  // Declare variables
  var input, filter, table, tr, td, i;
  input = document.getElementById("card_search_input_field");
  filter = input.value.toUpperCase();
  table = document.getElementById("cards-container");
  tr = table.getElementsByClassName("dummy-filter-card");

  console.log(tr.length)

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("a") ;
    for(j=0 ; j<td.length ; j++)
    {
      let tdata = td[j] ;
      if (tdata) {
        if (tdata.innerHTML.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
          break ;
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  }
}
</script>
</div>
{% endblock %}
