{% extends 'django_pasttrec_manager/base.html' %}

{% load bootstrap_icons %}

{% block content %}
<div class="container">

<div class="row">
<div class="col">
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Home</li>
  </ol>
</nav>
</div>
</div>

{% if messages %}
<h3>Messages</h3>
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<div class="row">
<h5>Tools</h5>
  <nav class="nav">
    <a class="nav-link" href="{% url 'django_pasttrec_manager:import_calibrations_wizard' %}">
      {% bs_icon 'file-arrow-down' %} Import calibrations from file
    </a>
  </nav>
</div>

<hr>

<div class="row">
<div class="col-4">

<h4>Select configuration</h4>
<hr />
{% if configurations %}
    <nav class="nav flex-column">
    {% for config in configurations %}
        <a class="nav-link" href="{% url 'django_pasttrec_manager:configuration' config.id %}">{{ config.name }}</a>
    {% endfor %}
    </nav>
{% else %}
    <p>No setups are available.</p>
{% endif %}
</div>

<div class="col-8">
<h4>Select card</h4>
<hr />
{% if cards %}
{% for card in cards %}
  <a class="btn btn-outline-dark btn-sm" href="{% url 'django_pasttrec_manager:card' card.id %}">{{ card.name }}</a>
{% endfor %}
{% else %}
  <p>No cards are available.</p>
{% endif %}
</div>
</div>

</div>
{% endblock %}
