{% load filters %}
  <table class="table table-sm" {% if card != data %}style="color: #888888;"{% endif %}>
  <thead class="thead-light text-center">
    <tr>
      <th scope="col" style="width: auto">Channel</th>
      <th scope="col" style="width: 9%">0</th>
      <th scope="col" style="width: 9%">1</th>
      <th scope="col" style="width: 9%">2</th>
      <th scope="col" style="width: 9%">3</th>
      <th scope="col" style="width: 9%">4</th>
      <th scope="col" style="width: 9%">5</th>
      <th scope="col" style="width: 9%">6</th>
      <th scope="col" style="width: 9%">7</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row" class="table-info">ASIC #1</th>
      <td colspan="3" class="cell_detail" >Threshold</td>
      <td class="table-warning text-center">{{ data.threshold_0|chbl|safe }}</td>
      <td colspan="3" class="cell_detail" >Disabled</td>
      <td class="table-warning text-center">{{ data.disabled_0|chdis|safe }}</td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td class="cell_detail" colspan="3">BG_int</td>
      <td class="table-warning text-center">{{ data.bg_int_0|chbl|safe }}</td>
      <td class="cell_detail">K</td>
      <td class="table-warning text-center">{{ data.gain_0|chbl|safe }}</td>
      <td class="cell_detail">Tp</td>
      <td class="table-warning text-center">{{ data.peaking_0|chbl|safe }}</td>
    </tr>
    <tr>
      <th scope="row">TC-</th>
      <td class="cell_detail">1C</td>
      <td class="table-warning text-center">{{ data.tc1c_0|chbl|safe }}</td>
      <td class="cell_detail">1R</td>
      <td class="table-warning text-center">{{ data.tc1r_0|chbl|safe }}</td>
      <td class="cell_detail">2C</td>
      <td class="table-warning text-center">{{ data.tc2c_0|chbl|safe }}</td>
      <td class="cell_detail">2R</td>
      <td class="table-warning text-center">{{ data.tc2r_0|chbl|safe }}</td>
    </tr>
    <tr>
      <th scope="row">Baselines</th>
      <td class="table-warning text-center">{{ data.baseline_00|chbl|safe }}</td>
      <td class="table-warning text-center">{{ data.baseline_01|chbl|safe }}</td>
      <td class="table-warning text-center">{{ data.baseline_02|chbl|safe }}</td>
      <td class="table-warning text-center">{{ data.baseline_03|chbl|safe }}</td>
      <td class="table-warning text-center">{{ data.baseline_04|chbl|safe }}</td>
      <td class="table-warning text-center">{{ data.baseline_05|chbl|safe }}</td>
      <td class="table-warning text-center">{{ data.baseline_06|chbl|safe }}</td>
      <td class="table-warning text-center">{{ data.baseline_07|chbl|safe }}</td>
    </tr>
    <tr>
      <th scope="row">Disabled</th>
      <td class="table-warning text-center">{{ data.disabled_00|chdis|safe }}</td>
      <td class="table-warning text-center">{{ data.disabled_01|chdis|safe }}</td>
      <td class="table-warning text-center">{{ data.disabled_02|chdis|safe }}</td>
      <td class="table-warning text-center">{{ data.disabled_03|chdis|safe }}</td>
      <td class="table-warning text-center">{{ data.disabled_04|chdis|safe }}</td>
      <td class="table-warning text-center">{{ data.disabled_05|chdis|safe }}</td>
      <td class="table-warning text-center">{{ data.disabled_06|chdis|safe }}</td>
      <td class="table-warning text-center">{{ data.disabled_07|chdis|safe }}</td>
    </tr>
    <tr>
      <th scope="row" class="table-info">ASIC #2</th>
      <td colspan="3" class="cell_detail" >Threshold</td>
      <td class="table-warning text-center">{{ data.threshold_1|chbl|safe }}</td>
      <td colspan="3" class="cell_detail" >Disabled</td>
      <td class="table-warning text-center">{{ data.disabled_1|chdis|safe }}</td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td class="cell_detail" colspan="3">BG_int</td>
      <td class="table-warning text-center">{{ data.bg_int_1|chbl|safe }}</td>
      <td class="cell_detail">K</td>
      <td class="table-warning text-center">{{ data.gain_1|chbl|safe }}</td>
      <td class="cell_detail">Tp</td>
      <td class="table-warning text-center">{{ data.peaking_1|chbl|safe }}</td>
    </tr>
    <tr>
      <th scope="row">TC-</th>
      <td class="cell_detail">1C</td>
      <td class="table-warning text-center">{{ data.tc1c_1|chbl|safe }}</td>
      <td class="cell_detail">1R</td>
      <td class="table-warning text-center">{{ data.tc1r_1|chbl|safe }}</td>
      <td class="cell_detail">2C</td>
      <td class="table-warning text-center">{{ data.tc2c_1|chbl|safe }}</td>
      <td class="cell_detail">2R</td>
      <td class="table-warning text-center">{{ data.tc2r_1|chbl|safe }}</td>
    </tr>
    <tr>
      <th scope="row">Baselines</th>
      <td class="table-warning text-center">{{ data.baseline_10|chbl|safe }}</td>
      <td class="table-warning text-center">{{ data.baseline_11|chbl|safe }}</td>
      <td class="table-warning text-center">{{ data.baseline_12|chbl|safe }}</td>
      <td class="table-warning text-center">{{ data.baseline_13|chbl|safe }}</td>
      <td class="table-warning text-center">{{ data.baseline_14|chbl|safe }}</td>
      <td class="table-warning text-center">{{ data.baseline_15|chbl|safe }}</td>
      <td class="table-warning text-center">{{ data.baseline_16|chbl|safe }}</td>
      <td class="table-warning text-center">{{ data.baseline_17|chbl|safe }}</td>
    </tr>
    <tr>
      <th scope="row">Disabled</th>
      <td class="table-warning text-center">{{ data.disabled_10|chdis|safe }}</td>
      <td class="table-warning text-center">{{ data.disabled_11|chdis|safe }}</td>
      <td class="table-warning text-center">{{ data.disabled_12|chdis|safe }}</td>
      <td class="table-warning text-center">{{ data.disabled_13|chdis|safe }}</td>
      <td class="table-warning text-center">{{ data.disabled_14|chdis|safe }}</td>
      <td class="table-warning text-center">{{ data.disabled_15|chdis|safe }}</td>
      <td class="table-warning text-center">{{ data.disabled_16|chdis|safe }}</td>
      <td class="table-warning text-center">{{ data.disabled_17|chdis|safe }}</td>
    </tr>
    <tr class="table-primary">
      <th scope="row" colspan="5">{{ card.revision }}</th>
      <td colspan="4" class="text-right">
      <a class="mr-3" href="{% url 'pasttrec_trb3setup:delete_card_settings' card.pk %}"><i class="fas fa-trash text-danger"></i>
      <a class="mr-2" href="{% url 'pasttrec_trb3setup:change_settings' card.pk %}"><i class="fas fa-edit"></i>
      <a href="{% url 'pasttrec_trb3setup:card' card.card.pk %}"><i class="fas fa-info-circle"></i>
      </td>
    </tr>
    {% if card.map_to %}
    <tr class="table-warning" style="color: #000000;">
      <th scope="row">Mapped from:</th>
      <td colspan="8">{{ card.map_to }}</td>
    </tr>
    {% endif %}
  </tbody>
  </table>

<!--<p>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#card_{{ card.card.name }}" aria-expanded="false" aria-controls="card_{{ card.card.name }}">
    Button with data-target
  </button>
</p>
<div class="collapse" id="card_{{ card.card.name }}">
  <div class="card card-body">
    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
  </div>
</div>-->
