{% load static %}
{% if s == state.ADDED %}
<img class="card_bkg" src="{% static 'pasttrec_trb3setup/gfx/card_insert.png' %}"></img>
<a class="card_icon text-warning" href="{% url 'pasttrec_trb3setup:card' c.id %}">
<i class="fas fa-plug"></i>
</a><span class="card_text">{{ c.card.name }}</span>
{% elif s == state.CHANGED %}
<img class="card_bkg" src="{% static 'pasttrec_trb3setup/gfx/card_exchange.png' %}"></img>
<a class="card_icon text-warning" href="{% url 'pasttrec_trb3setup:card' c.card.id %}#{{ c.id }}">
<i class="fas fa-retweet"></i>
</a><span class="card_text">{{ c.card.name }}</span>
{% elif s == state.UPDATED %}
<img class="card_bkg" src="{% static 'pasttrec_trb3setup/gfx/card_reload.png' %}"></img>
<a class="card_icon text-warning" href="{% url 'pasttrec_trb3setup:card' c.card.id %}#{{ c.id }}">
<i class="fas fa-pen-square"></i>
</a>
{% elif s == state.REMOVED %}
<img class="card_bkg" src="{% static 'pasttrec_trb3setup/gfx/card_remove.png' %}"></img>
<a class="card_icon text-warning" href="#">
<i class="fas fa-minus-circle"></i>
</a>
{% elif s == state.KEPT %}
<img class="card_bkg" src="{% static 'pasttrec_trb3setup/gfx/card_keep.png' %}"></img>
<a class="card_icon text-warning">
<i class="fas"></i>
</a>
{% else %}
<i class="fas"></i>
{% endif %}
