{% extends 'pasttrec_trb3setup/base.html' %}
{% load i18n filters %}

{% block head_extras %}
<link rel="stylesheet" type="text/css" href="/static/admin/css/widgets.css" />

<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
<script type="text/javascript" src="/static/admin/js/core.js"></script>
<script type="text/javascript" src="/static/admin/js/calendar.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/DateTimeShortcuts.js"></script>
{% endblock %}

{% block content %}
<div class="container">

<div class="row">
<div class="col">

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item" aria-current="page"><a href="{% url 'passtrec_trb3setup:index' %}">Home</a></li>
    <li class="breadcrumb-item" >Card details</li>
    {% if settings %}
    <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'passtrec_trb3setup:card' settings.card.pk %}">{{ settings.card.name }}</a></li>
    <li class="breadcrumb-item active" >{{ settings }}</li>
    {% else %}
    <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'passtrec_trb3setup:card' card.pk %}">{{ card.name }}</a></li>
    <li class="breadcrumb-item active" >Add settings</li>
    {%endif %}
  </ol>
</nav>

{% if form %}

{% if settings %}
<h4>Change settings</h4>
Revision: {{ setup.name }}
<form action="{% url 'pasttrec_trb3setup:change_settings' settings.pk %}" method="post" enctype="multipart/form-data">
{% else %}
<h4>Add settings</h4>

<hr />

<form action="{% url 'pasttrec_trb3setup:add_settings' %}" method="post" enctype="multipart/form-data">
{% endif %}


  <div class="row">
  <div class="col">
  <h5>General settings</h5>
  <div class="my-3">
    <div class="form-inline">
      <label class="my-1 mr-2" for="id_card">{{ form.card.label }}</label>
      {{ form.card|addclass:"custom-select" }}

      <label class="my-1 ml-4 mr-2" for="id_revision">{{ form.revision.label }}</label>
      {{ form.revision|addclass:"custom-select" }}

      <label class="my-1 ml-4 mr-2" for="id_map_to">{{ form.map_to.label }}</label>
      {{ form.map_to|addclass:"custom-select" }}
    </div>
  </div>
  </div>
  </div>

  <hr />
  <div class="row">
  <div class="col-6">
  <h5>Asic #1</h5>

  <div class="my-3">
    <div class="form-inline">
      <label class="my-1 mr-2" for="id_bg_int_0">{{ form.bg_int_0.label }}</label>
      {{ form.bg_int_0 }}

      <label class="my-1 ml-4 mr-2" for="id_gain_0">{{ form.gain_0.label }}</label>
      {{ form.gain_0|addclass:"form-control"|addrange:"0 3" }}

      <label class="my-1 ml-4 mr-2" for="id_peaking_0">{{ form.peaking_0.label }}</label>
      {{ form.peaking_0|addclass:"form-control"|addrange:"0 3" }}
    </div>
  </div>

  <div class="my-3">
    <div class="form-inline">
      <label class="my-1 mr-1" for="id_tc1c_0">{{ form.tc1c_0.label }}</label>
      {{ form.tc1c_0|addclass:"form-control"|addrange:"0 7" }}

      <label class="my-1 ml-2 mr-1" for="id_tc1r_0">{{ form.tc1r_0.label }}</label>
      {{ form.tc1r_0|addclass:"form-control"|addrange:"0 7" }}

      <label class="my-1 ml-2 mr-1" for="id_tc2c_0">{{ form.tc2c_0.label }}</label>
      {{ form.tc2c_0|addclass:"form-control"|addrange:"0 7" }}

      <label class="my-1 ml-2 mr-1" for="id_tc1r_0">{{ form.tc2r_0.label }}</label>
      {{ form.tc2r_0|addclass:"form-control"|addrange:"0 7" }}
    </div>
  </div>

  <div class="my-3">
    <div class="form-inline">
      <label class="my-1 mr-2" for="id_threshold_0">{{ form.threshold_0.label }}</label>
      {{ form.threshold_0|addclass:"form-control w-25"|addrange:"0 127" }}

      <label class="my-1 ml-4 mr-2" for="id_disabled_0">{{ form.disabled_0.label }}</label>
      {{ form.disabled_0|addclass:"form-check-input" }}
    </div>
  </div>

  <div class="my-3">
    <div class="form-inline">
      <label class="my-1 mr-2" for="id_baseline_00">{{ form.baseline_00.label }}</label>
      {{ form.baseline_00|addclass:"form-control w-25"|addrange:"0 31" }}

      <label class="my-1 ml-4 mr-2" for="id_disabled_00">{{ form.disabled_00.label }}</label>
      {{ form.disabled_00|addclass:"form-check-input" }}
    </div>
  </div>
  <div class="my-3">
    <div class="form-inline">
      <label class="my-1 mr-2" for="id_baseline_01">{{ form.baseline_01.label }}</label>
      {{ form.baseline_01|addclass:"form-control w-25"|addrange:"0 31" }}

      <label class="my-1 ml-4 mr-2" for="id_disabled_01">{{ form.disabled_01.label }}</label>
      {{ form.disabled_01|addclass:"form-check-input" }}
    </div>
  </div>
  <div class="my-3">
    <div class="form-inline">
      <label class="my-1 mr-2" for="id_baseline_02">{{ form.baseline_02.label }}</label>
      {{ form.baseline_02|addclass:"form-control w-25"|addrange:"0 31" }}

      <label class="my-1 ml-4 mr-2" for="id_disabled_02">{{ form.disabled_02.label }}</label>
      {{ form.disabled_02|addclass:"form-check-input" }}
    </div>
  </div>
  <div class="my-3">
    <div class="form-inline">
      <label class="my-1 mr-2" for="id_baseline_03">{{ form.baseline_03.label }}</label>
      {{ form.baseline_03|addclass:"form-control w-25"|addrange:"0 31" }}

      <label class="my-1 ml-4 mr-2" for="id_disabled_03">{{ form.disabled_03.label }}</label>
      {{ form.disabled_03|addclass:"form-check-input" }}
    </div>
  </div>
  <div class="my-3">
    <div class="form-inline">
      <label class="my-1 mr-2" for="id_baseline_04">{{ form.baseline_04.label }}</label>
      {{ form.baseline_04|addclass:"form-control w-25"|addrange:"0 31" }}

      <label class="my-1 ml-4 mr-2" for="id_disabled_04">{{ form.disabled_04.label }}</label>
      {{ form.disabled_04|addclass:"form-check-input" }}
    </div>
  </div>
  <div class="my-3">
    <div class="form-inline">
      <label class="my-1 mr-2" for="id_baseline_05">{{ form.baseline_05.label }}</label>
      {{ form.baseline_05|addclass:"form-control w-25"|addrange:"0 31" }}

      <label class="my-1 ml-4 mr-2" for="id_disabled_05">{{ form.disabled_05.label }}</label>
      {{ form.disabled_05|addclass:"form-check-input" }}
    </div>
  </div>
  <div class="my-3">
    <div class="form-inline">
      <label class="my-1 mr-2" for="id_baseline_06">{{ form.baseline_06.label }}</label>
      {{ form.baseline_06|addclass:"form-control w-25"|addrange:"0 31" }}

      <label class="my-1 ml-4 mr-2" for="id_disabled_06">{{ form.disabled_06.label }}</label>
      {{ form.disabled_06|addclass:"form-check-input" }}
    </div>
  </div>
  <div class="my-3">
    <div class="form-inline">
      <label class="my-1 mr-2" for="id_baseline_07">{{ form.baseline_07.label }}</label>
      {{ form.baseline_07|addclass:"form-control w-25"|addrange:"0 31" }}

      <label class="my-1 ml-4 mr-2" for="id_disabled_07">{{ form.disabled_07.label }}</label>
      {{ form.disabled_07|addclass:"form-check-input" }}
    </div>
  </div>

  </div>
  <div class="col-6 border-left">

  <h5>Asic #2</h5>

  <div class="my-3">
    <div class="form-inline">
      <label class="my-1 mr-2" for="id_bg_int_1">{{ form.bg_int_1.label }}</label>
      {{ form.bg_int_1|addclass:"form-check-input" }}

      <label class="my-1 ml-4 mr-2" for="id_gain_1">{{ form.gain_1.label }}</label>
      {{ form.gain_1|addclass:"form-control"|addrange:"0 3" }}

      <label class="my-1 ml-3 mr-2" for="id_peaking_1">{{ form.peaking_1.label }}</label>
      {{ form.peaking_1|addclass:"form-control"|addrange:"0 3" }}
    </div>
  </div>

  <div class="my-3">
    <div class="form-inline">
      <label class="my-1 mr-1" for="id_tc1c_1">{{ form.tc1c_1.label }}</label>
      {{ form.tc1c_1|addclass:"form-control"|addrange:"0 7" }}

      <label class="my-1 ml-2 mr-1" for="id_tc1r_1">{{ form.tc1r_1.label }}</label>
      {{ form.tc1r_1|addclass:"form-control"|addrange:"0 7" }}

      <label class="my-1 ml-2 mr-1" for="id_tc2c_1">{{ form.tc2c_1.label }}</label>
      {{ form.tc2c_1|addclass:"form-control"|addrange:"0 7" }}

      <label class="my-1 ml-2 mr-1" for="id_tc1r_1">{{ form.tc2r_1.label }}</label>
      {{ form.tc2r_1|addclass:"form-control"|addrange:"0 7" }}
    </div>
  </div>

  <div class="my-3">
    <div class="form-inline">
      <label class="my-1 mr-2" for="id_threshold_1">{{ form.threshold_1.label }}</label>
      {{ form.threshold_1|addclass:"form-control w-25"|addrange:"0 127" }}

      <label class="my-1 ml-4 mr-2" for="id_disabled_1">{{ form.disabled_1.label }}</label>
      {{ form.disabled_1|addclass:"form-check-input" }}
    </div>
  </div>

  <div class="my-3">
    <div class="form-inline">
      <label class="my-1 mr-2" for="id_baseline_10">{{ form.baseline_10.label }}</label>
      {{ form.baseline_10|addclass:"form-control w-25"|addrange:"0 31" }}

      <label class="my-1 ml-4 mr-2" for="id_disabled_10">{{ form.disabled_10.label }}</label>
      {{ form.disabled_10|addclass:"form-check-input" }}
    </div>
  </div>
  <div class="my-3">
    <div class="form-inline">
      <label class="my-1 mr-2" for="id_baseline_11">{{ form.baseline_11.label }}</label>
      {{ form.baseline_11|addclass:"form-control w-25"|addrange:"0 31" }}

      <label class="my-1 ml-4 mr-2" for="id_disabled_11">{{ form.disabled_11.label }}</label>
      {{ form.disabled_11|addclass:"form-check-input" }}
    </div>
  </div>
  <div class="my-3">
    <div class="form-inline">
      <label class="my-1 mr-2" for="id_baseline_12">{{ form.baseline_12.label }}</label>
      {{ form.baseline_12|addclass:"form-control w-25"|addrange:"0 31" }}

      <label class="my-1 ml-4 mr-2" for="id_disabled_12">{{ form.disabled_12.label }}</label>
      {{ form.disabled_12|addclass:"form-check-input" }}
    </div>
  </div>
  <div class="my-3">
    <div class="form-inline">
      <label class="my-1 mr-2" for="id_baseline_13">{{ form.baseline_13.label }}</label>
      {{ form.baseline_13|addclass:"form-control w-25"|addrange:"0 31" }}

      <label class="my-1 ml-4 mr-2" for="id_disabled_13">{{ form.disabled_13.label }}</label>
      {{ form.disabled_13|addclass:"form-check-input" }}
    </div>
  </div>
  <div class="my-3">
    <div class="form-inline">
      <label class="my-1 mr-2" for="id_baseline_14">{{ form.baseline_14.label }}</label>
      {{ form.baseline_14|addclass:"form-control w-25"|addrange:"0 31" }}

      <label class="my-1 ml-4 mr-2" for="id_disabled_14">{{ form.disabled_14.label }}</label>
      {{ form.disabled_14|addclass:"form-check-input" }}
    </div>
  </div>
  <div class="my-3">
    <div class="form-inline">
      <label class="my-1 mr-2" for="id_baseline_15">{{ form.baseline_15.label }}</label>
      {{ form.baseline_15|addclass:"form-control w-25"|addrange:"0 31" }}

      <label class="my-1 ml-4 mr-2" for="id_disabled_15">{{ form.disabled_15.label }}</label>
      {{ form.disabled_15|addclass:"form-check-input" }}
    </div>
  </div>
  <div class="my-3">
    <div class="form-inline">
      <label class="my-1 mr-2" for="id_baseline_16">{{ form.baseline_16.label }}</label>
      {{ form.baseline_16|addclass:"form-control w-25"|addrange:"0 31" }}

      <label class="my-1 ml-4 mr-2" for="id_disabled_16">{{ form.disabled_16.label }}</label>
      {{ form.disabled_16|addclass:"form-check-input" }}
    </div>
  </div>
  <div class="my-3">
    <div class="form-inline">
      <label class="my-1 mr-2" for="id_baseline_17">{{ form.baseline_17.label }}</label>
      {{ form.baseline_17|addclass:"form-control w-25"|addrange:"0 31" }}

      <label class="my-1 ml-4 mr-2" for="id_disabled_17">{{ form.disabled_17.label }}</label>
      {{ form.disabled_17|addclass:"form-check-input" }}
    </div>
  </div>

  </div>
  </div>

  {% csrf_token %}

  <br />
  <div class="row">
  <div class="col">
    <input class="btn" type="submit" value="{% trans 'Save' %}" />
    <input class="btn btn-danger" type="reset" value="{% trans 'Clear' %}" />
  </div>
  </div>
</form>

<hr />
<hr />

<h4>Add revision</h4>

<form action="{% url 'pasttrec_trb3setup:rev_add' %}" method="post">
  {% csrf_token %}
  {{ form.non_field_errors }}

  {% include 'pasttrec_trb3setup/_revision_create.html' with form=form_rev redirect_to=redirect_to %}

</form>

{% endif %}

</div>
</div>

</div>
{% endblock %}
