{% extends 'pasttrec_trb3setup/base.html' %}
{% load i18n filters %}

{% block content %}
<div class="container">

<div class="row">
<div class="col">

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item" aria-current="page"><a href="{% url 'passtrec_trb3setup:index' %}">Home</a></li>
    <li class="breadcrumb-item active" >{{ setup.name }}</li>
  </ol>
</nav>

{% if form %}
<h3>Change connection</h3>

<form action="{% url 'pasttrec_trb3setup:change_connection' connection_pk %}" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{ form.non_field_errors }}
  <table class="table">
    <tr><th>{{ form.revision.label_tag }}</th>
    <td>{{ form.revision }}{{ form.revision.errors }}</td></tr>
    <tr><th>{{ form.tdc.label_tag }}</th>
    <td>{{ form.tdc }}{{ form.tdc.errors }}</td></tr>
    <tr><th>{{ form.card1.label_tag }}</th>
    <td>{{ form.card1 }}{{ form.card1.errors }}</td></tr>
    <tr><th>{{ form.card2.label_tag }}</th>
    <td>{{ form.card2 }}{{ form.card2.errors }}</td></tr>
    <tr><th>{{ form.card3.label_tag }}</th>
    <td>{{ form.card3 }}{{ form.card3.errors }}</td></tr>
  </table>
  <div>
    <input class="btn" type="submit" value="{% trans 'Save' %}" />
    <input class="btn btn-danger" type="reset" value="{% trans 'Clear' %}" />
  </div>
</form>
{% endif %}

</div>
</div>

</div>
{% endblock %}
