{% extends 'pasttrec_trb3setup/base.html' %}

{% block content %}
<div class="container">

<div class="row">
<div class="col">

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Home</li>
  </ol>
</nav>

</div></div>

<div class="row">
<div class="col">
<h4>Select setup</h4>
<hr />
{% if setups %}
    <nav class="nav flex-column">
    {% for setup in setups %}
        <a class="nav-link" href="{% url 'pasttrec_trb3setup:setup' setup.id %}">{{ setup.name }}</a>
    {% endfor %}
    </nav>
{% else %}
    <p>No setups are available.</p>
{% endif %}

</div>
<div class="col">
<h4>Select card</h4>
<hr />
{% if cards %}
<!--     <nav class="nav flex-column"> -->
    <h5>C</h5>
    {% for card in cards %}
        {% if card.name|first in 'C' %}
        <a class="btn btn-outline-dark btn-sm" href="{% url 'pasttrec_trb3setup:card' card.id %}">{{ card.name }}</a>
        {% endif %}
    {% endfor %}
    <h5>B</h5>
    {% for card in cards %}
        {% if card.name|first in 'B' %}
        <a class="btn btn-outline-dark btn-sm" href="{% url 'pasttrec_trb3setup:card' card.id %}">{{ card.name }}</a>
        {% endif %}
    {% endfor %}
    <h5>A</h5>
    {% for card in cards %}
        {% if card.name|first in 'A' %}
        <a class="btn btn-outline-dark btn-sm" href="{% url 'pasttrec_trb3setup:card' card.id %}">{{ card.name }}</a>
        {% endif %}
    {% endfor %}
<!--     </nav> -->
{% else %}
    <p>No cards are available.</p>
{% endif %}

<br /><br />

<h5>Tools</h5>
  <nav class="nav">
    <a class="nav-link" href="{% url 'pasttrec_trb3setup:insert_card' %}">
      <i class="fas fa-plus-square"></i> Insert card
    </a>
    <a class="nav-link" href="{% url 'pasttrec_trb3setup:insert_cards' %}">
      <i class="fas fa-plus-square"></i> Insert multiple cards
    </a>
  </nav>
</div>

</div>

</div>
{% endblock %}
