{% extends 'pasttrec_trb3setup/base.html' %}
{% load i18n filters %}

{% block content %}
<div class="container">

<div class="row">
<div class="col">

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item" aria-current="page"><a href="{% url 'passtrec_trb3setup:index' %}">Home</a></li>
    <li class="breadcrumb-item active" >{{ setup.name }}</li>
  </ol>
</nav>

{% if form %}
<h3>Insert card</h3>

<form action="{% url 'pasttrec_trb3setup:insert_cards' %}" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{ form.non_field_errors }}
  <table class="table">
    <tr><th>{{ form.name.label_tag }}</th>
    <td>{{ form.name }}{{ form.name.errors }}
    <small id="passwordHelpBlock" class="form-text text-muted">
  List of cards comma separated
    </small></td></tr>
    <tr><th>{{ form.notes.label_tag }}</th>
    <td>{{ form.notes }}{{ form.notes.errors }}
    <small id="passwordHelpBlock" class="form-text text-muted">
  Notes will be copied to all cards
    </small></td></tr>
  </table>
  <div>
    <input class="btn" type="submit" value="{% trans 'Upload' %}" />
    <input class="btn btn-danger" type="reset" value="{% trans 'Clear' %}" />
  </div>
</form>
{% endif %}

{% if cards_form %}
<br />
<h3>Asign cards to revision {{ rev.creation_on }}</h3>

<form action="{% url 'pasttrec_trb3setup:import_json' rev.pk %}" method="post">
  {% csrf_token %}
  {{ cards_form.non_field_errors }}
  <table class="table">
{% for field in cards_form %}
    <tr><th>{{ field.label_tag }}</th>
    <td>{{ field }}{{ field.errors }}</td></tr>
{% endfor %}
  </table>
  <div>
    <input class="btn" type="submit" value="{% trans 'Insert' %}" />
    <input class="btn btn-danger" type="reset" value="{% trans 'Clear' %}" />
  </div>
</form>

{% endif %}
</div>
</div>

</div>
{% endblock %}
