{% extends 'pasttrec_trb3setup/base.html' %}
{% load i18n filters %}

{% block head_extras %}
<link rel="stylesheet" type="text/css" href="/static/admin/css/widgets.css" />

<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
<script type="text/javascript" src="/static/admin/js/core.js"></script>
<script type="text/javascript" src="/static/admin/js/calendar.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/DateTimeShortcuts.js"></script>
{% endblock %}

{% block content %}
<div class="container">

<div class="row">
<div class="col">

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item" aria-current="page"><a href="{% url 'passtrec_trb3setup:index' %}">Home</a></li>
    <li class="breadcrumb-item active" >{{ setup.name }}</li>
  </ol>
</nav>

<h4>Select existing revision</h4>

{% if object_list %}
    <nav class="nav flex-column">
    {% for rev in object_list %}
        <a class="nav-link" href="{% url 'pasttrec_trb3setup:import_file' rev.id %}">{{ rev.creation_on }}</a>
    {% endfor %}
    </nav>
{% else %}
    <p>No revision are available.</p>
{% endif %}

<br />
<h4>Or create new revision</h4>

<form action="{% url 'pasttrec_trb3setup:import_insert_revision' setup.pk %}" method="post">
  {% csrf_token %}
  {{ form.non_field_errors }}

  {% include 'pasttrec_trb3setup/_revision_create.html' with form=form %}

</form>

</div>
</div>

</div>
{% endblock %}
