{% extends 'pasttrec_trb3setup/base.html' %}

{% block content %}
<div class="container">

<div class="row">
<div class="col">

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item" aria-current="page"><a href="{% url 'passtrec_trb3setup:index' %}">Home</a></li>
    <li class="breadcrumb-item active" >{{ setup.name }}</li>
  </ol>
</nav>

<h4>Tools</h4>
  <nav class="nav">
    <a class="nav-link" href="{% url 'pasttrec_trb3setup:import_select_revision' setup.id %}">
      <i class="fas fa-file-import"></i> Import settings
    </a>
  </nav>

<h3>Setup map</h3>
<h5>Legend</h5>
<h6>Events</h6>
<div class="row">
<div class="col-2"><i class="fas fa-plug"></i> - card inserted</div>
<div class="col-2"><i class="fas fa-retweet"></i> - card replaced</div>
<div class="col-2"><i class="fas fa-pen-square"></i> - new card settings</div>
<div class="col-2"><i class="fas fa-minus-circle"></i> - card removed</div>
<div class="col-3"><i class="fas fa-exclamation-triangle"></i> - connection change event</div>
</div>
<h6>Actions</h6>
<div class="row">
<div class="col-2"><span class="text-success"><i class="fas fa-plus-square"></i></span> - add connection</div>
<div class="col-2"><span class="text-success"><i class="fas fa-plus"></i></span> - add card settings</div>
<div class="col-3"><span class="text-success"><i class="fas fa-pen text-primary"></i></span> - change all cards settings</div>
</div>
<br />

<table id="table_map" class="table table-sm" style="width: 1px;">
<thead>
  <tr class="table-info text-center">
    <th scope="col" class="align-middle">TDC</th>
    {% if object_list %}{% for rev in object_list %}
    <th scope="col"><small>
      <a class="text-small" href="{% url 'pasttrec_trb3setup:rev' rev.id %}">{{ rev.creation_on }}</a>
    </small></th>
    {% endfor %}{% endif %}
    <th scope="col" class="align-middle bg-light"><a class="text-small" href="{% url 'pasttrec_trb3setup:rev_add' setup.pk %}" alt="Insert revision"><i class="fas fa-plus-square"></i></a></th>
  </tr>
</thead>
<tbody>
{% for tdc, val in map.items %}
  <tr>
    <th scope="row" class="align-middle bg-light">
      <span class="badge badge-warning verticaltext align-middle" style="margin-left: -10px;">{{ tdc }}</span>
    </th>
    {% for r in val %}
    <td>
      <div class="row text-center">
      <div class="col-12 bg-light">
        {% if r.status != State.NONE and r.status != State.KEPT and r.status != State.UPDATED %}
        <a href="{% url 'pasttrec_trb3setup:rev' r.rev.id %}" class="text-warning">
        <i class="fas fa-exclamation-triangle"></i></a>
        {% else %}
        <a href="{% url 'pasttrec_trb3setup:insert_connection' r.rev.pk r.tdc.pk %}" class="text-success">
        <i class="fas fa-plus-square"></i></a>
        {% endif %}
      </div>
      <div class="col-12">
        {% include 'pasttrec_trb3setup/_map_card_detail_stack.html' with r=r.rev c=r.card1 s=r.card1_s state=State %}
      </div>
      <div class="col-12">
        {% include 'pasttrec_trb3setup/_map_card_detail_stack.html' with r=r.rev c=r.card2 s=r.card2_s state=State %}
      </div>
      <div class="col-12">
        {% include 'pasttrec_trb3setup/_map_card_detail_stack.html' with r=r.rev c=r.card3 s=r.card3_s state=State %}
      </div>
    </div>
   {% endfor %}
   <td class="align-middle bg-light">
     <span class="badge badge-warning verticaltext" style="margin-left: -13px;">{{ tdc }}</span></td>
  </tr>
{% endfor %}
  <tr class="align-middle bg-light">
    <th scope="row"></th>
    {% if object_list %}{% for rev in object_list %}
    <td class="text-center">
      <a class="text-small" href="{% url 'pasttrec_trb3setup:change_settings_mass' rev.pk %}"><i class="fas fa-pen"></i></a>
    </td>
    {% endfor %}{% endif %}
    <td></td>
  </tr>
</tbody>
</table>


{% if object_list2 %}
  <h3>Select revision</h3>
  <nav class="nav flex-column">
  {% for rev in object_list %}
    <a class="nav-link" href="{% url 'pasttrec_trb3setup:rev' rev.id %}">{{ rev.creation_on }}</a>
  {% endfor %}
  </nav>
{% else %}
<!--   <p>No revisions are available.</p> -->
{% endif %}

</div>
</div>

</div>
{% endblock %}
