{% extends 'pasttrec_trb3setup/base.html' %}

{% block content %}
<div class="container">

<div class="row">
<div class="col">

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item" aria-current="page"><a href="{% url 'passtrec_trb3setup:index' %}">Home</a></li>
    <li class="breadcrumb-item active" >{{ setup.name }}</li>
  </ol>
</nav>

<h3>Select revision</h3>

{% if object_list %}
    <nav class="nav flex-column">
    {% for rev in object_list %}
        <a class="nav-link" href="{% url 'pasttrec_trb3setup:rev' rev.id %}">{{ rev.creation_on }}</a>
    {% endfor %}
    </nav>
{% else %}
    <p>No revisions are available.</p>
{% endif %}

</div>
</div>

</div>
{% endblock %}
