{% load filters %}

<div class="row">
  <div class="col-1 text-end">BGi</div>
  <div class="col"><span class="badge text-bg-secondary w-100">{{ data.bg_int|yesno:"1,0" }}</span></div>
  <div class="col text-end">K</div>
  <div class="col"><span class="badge text-bg-secondary w-100">{{ data.gain }}</span></div>
  <div class="col text-end">Tp</div>
  <div class="col"><span class="badge text-bg-secondary w-100">{{ data.peaking }}</span></div>
  <div class="col text-end">Thr.</div>
  <div class="col"><span class="badge text-bg-secondary w-100">{{ data.threshold }}</span></div>
  <div class="col text-end">TC1C</div>
  <div class="col"><span class="badge text-bg-secondary w-100">{{ data.tc1c }}</span></div>
  <div class="col text-end">TC1R</div>
  <div class="col"><span class="badge text-bg-secondary w-100">{{ data.tc1r }}</span></div>
  <div class="col text-end">TC2C</div>
  <div class="col"><span class="badge text-bg-secondary w-100">{{ data.tc2c }}</span></div>
  <div class="col text-end">TC2R</div>
  <div class="col"><span class="badge text-bg-secondary w-100">{{ data.tc2r }}</span></div>
</div>

{% if data.notes %}
<div class="row">
  <div class="col-1 text-end">Notes</div>
  <div class="col">{{ data.notes }}</div>
</div>
{% endif %}
