{% load filters %}

  {% if asic_no is not None %}
  <div class="{{ label_class|default:"col-1" }}"><span class="badge text-bg-primary w-100">ASIC {{ asic_no }}</span></div>
  {% endif %}
  <div class="col">
  {% include "django_pasttrec_manager/widgets/baseline_value_advanced_widget.html" with baseline=data.baseline_0 disabled=data.disabled_0 %}
  </div>
  <div class="col">
  {% include "django_pasttrec_manager/widgets/baseline_value_advanced_widget.html" with baseline=data.baseline_1 disabled=data.disabled_1 %}
  </div>
  <div class="col">
  {% include "django_pasttrec_manager/widgets/baseline_value_advanced_widget.html" with baseline=data.baseline_2 disabled=data.disabled_2 %}
  </div>
  <div class="col">
  {% include "django_pasttrec_manager/widgets/baseline_value_advanced_widget.html" with baseline=data.baseline_3 disabled=data.disabled_3 %}
  </div>
  <div class="col">
  {% include "django_pasttrec_manager/widgets/baseline_value_advanced_widget.html" with baseline=data.baseline_4 disabled=data.disabled_4 %}
  </div>
  <div class="col">
  {% include "django_pasttrec_manager/widgets/baseline_value_advanced_widget.html" with baseline=data.baseline_5 disabled=data.disabled_5 %}
  </div>
  <div class="col">
  {% include "django_pasttrec_manager/widgets/baseline_value_advanced_widget.html" with baseline=data.baseline_6 disabled=data.disabled_6 %}
  </div>
  <div class="col">
  {% include "django_pasttrec_manager/widgets/baseline_value_advanced_widget.html" with baseline=data.baseline_7 disabled=data.disabled_7 %}
  </div>
