{% load widget_tweaks %}
{{ form.non_field_errors }}
<!-- CARD FORM -->
<div class="row mb-3">
<div class="col-6">
  <div class="input-group">
  <span class="input-group-text">FEB ID</span>
  {{ form.febid|add_class:"form-control form-control-sm" }}{{ form.febid.errors }}
  <span class="input-group-text">Name</span>
  {{ form.name|add_class:"form-control form-control-sm" }}{{ form.name.errors }}
  </div>
</div>
<div class="col-6">
  <div class="input-group">
  <span class="input-group-text">Notes</span>
  {{ form.notes|add_class:"form-control form-control-sm"|attr:"rows:1" }}{{ form.notes.errors }}
  </div>
</div>
</div>
<!-- END of CARD FORM -->
